In [24]:
import pandas as pd
import numpy as np
import os
import xlsxwriter

In [25]:
pd.set_option('display.max_columns', 500)

In [26]:
table = 'testtesttest'
file = '\\'+table+'.csv'

path1=os.path.dirname(r"C:\Users\theerat.leelasithorn\Downloads\Comparison\PS2\testtest.csv")
path2=os.path.dirname(r"C:\Users\theerat.leelasithorn\Downloads\Comparison\UAT\testtest.csv")

env1 = os.path.basename(path1)
env2 = os.path.basename(path2)

# df1 = pd.read_csv(path+file,dtype=str).fillna('').add_prefix(env+'_')
# df2 = pd.read_csv(path1+file,dtype=str).fillna('').add_prefix(env1+'_')
df1 = pd.read_csv(path1+file,dtype=str).fillna('')
df2 = pd.read_csv(path2+file,dtype=str).fillna('')

df2
# len(df1.axes[1])

,id,organization_id,parent_id,code,name,structure,type_,status_code,depth,created_by,created_datetime,updated_by,updated_datetime,domain_id,description,filter_by,branch_code,conv_islamic_branch,islamic_bank_id,islamic_branch_id,organization_unit_category
0,20210611000081901,20190128000000226,20220104000001161,81901,VIRTUAL CHANNEL,"80100,81900,81901",VIRTUAL_ORG_UNIT,ACTIVE,4,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,VIRTUAL CHANNEL,INT,81901,C,,,
1,20210611000090001,20190128000000226,20210611000081901,90001,LINE,"80100,81900,81901,90001",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,LINE,INT,90001,C,,,
2,20210611000090002,20190128000000226,20210611000081901,90002,CONTACT CENTRE,"80100,81900,81901,90002",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,CONTACT CENTRE,INT,90002,C,,,
3,20210611000090003,20190128000000226,20210611000081901,90003,IONBOARD,"80100,81900,81901,90003",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,IONBOARD,INT,90003,C,,,
4,20210611000090004,20190128000000226,20210611000081901,90004,PAYWISE,"80100,81900,81901,90004",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,PAYWISE,INT,90004,C,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,20190128000000226,20211001000080160,60100,สำนักงานเขตพื้นที่ นครราชสีมา,"80100,80160,60100",AREA,ACTIVE,4,39999940000000102,2022-01-04 00:21:12,39999940000000049,2022-01-23 11:51:43,OCB,สำนักงานเขตพื้นที่ นครราชสีมา,INT,60100,,,,
219,20220104000001160,20190128000000226,20220103000001257,40101,สาขาอุทยานสวรรค์,"80100,80140,40100,40101",BR,ACTIVE,5,39999940000000102,2022-01-04 01:37:08,39999940000000049,2022-01-23 11:37:50,OCB,สาขาอุทยานสวรรค์,INT,40101,,,,
220,20210611000090006,20190128000000226,20210611000081901,90006,BCM,"80100,81900,81901,90006",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,BCM,INT,90006,C,,,
221,20210611000090007,20190128000000226,20210611000081901,90007,ATM,"80100,81900,81901,90007",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,ATM,INT,90007,C,,,
222,20220104000001161,20190128000000226,20211001000080100,81900,ONLINE CHANNEL,"80100,81900",VIRTUAL_ORG_UNIT,ACTIVE,3,39999940000000102,2022-01-04 19:06:30,39999940000000049,2022-01-21 22:05:57,OCB,ONLINE CHANNEL,INT,81900,C,,,

In [27]:
dfx = df1.merge(df2, on = 'id', how = 'outer')
dfx

# dfx = pd.merge(df,df1,left_on = env+'_'+ 'id',right_on = env1+'_'+ 'id', how = 'outer')
# # dfx[['PS2_id', 'UAT_id']]
# dfx

,id,organization_id_x,parent_id_x,code_x,name_x,structure_x,type__x,status_code_x,depth_x,created_by_x,created_datetime_x,updated_by_x,updated_datetime_x,domain_id_x,description_x,filter_by_x,branch_code_x,conv_islamic_branch_x,islamic_bank_id_x,islamic_branch_id_x,organization_unit_category_x,organization_id_y,parent_id_y,code_y,name_y,structure_y,type__y,status_code_y,depth_y,created_by_y,created_datetime_y,updated_by_y,updated_datetime_y,domain_id_y,description_y,filter_by_y,branch_code_y,conv_islamic_branch_y,islamic_bank_id_y,islamic_branch_id_y,organization_unit_category_y
0,20210611000081901,20190128000000226,20220104000001161,81901,VIRTUAL CHANNEL,"80100,81900,81901",VIRTUAL_ORG_UNIT,ACTIVE,4,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,VIRTUAL CHANNEL,INT,81901,C,,,,20190128000000226,20220104000001161,81901,VIRTUAL CHANNEL,"80100,81900,81901",VIRTUAL_ORG_UNIT,ACTIVE,4,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,VIRTUAL CHANNEL,INT,81901,C,,,
1,20210611000090001,20190128000000226,20210611000081901,90001,LINE,"80100,81900,81901,90001",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,LINE,INT,90001,C,,,,20190128000000226,20210611000081901,90001,LINE,"80100,81900,81901,90001",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,LINE,INT,90001,C,,,
2,20210611000090002,20190128000000226,20210611000081901,90002,CONTACT CENTRE,"80100,81900,81901,90002",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,CONTACT CENTRE,INT,90002,C,,,,20190128000000226,20210611000081901,90002,CONTACT CENTRE,"80100,81900,81901,90002",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,CONTACT CENTRE,INT,90002,C,,,
3,20210611000090003,20190128000000226,20210611000081901,90003,IONBOARD,"80100,81900,81901,90003",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,IONBOARD,INT,90003,C,,,,20190128000000226,20210611000081901,90003,IONBOARD,"80100,81900,81901,90003",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,IONBOARD,INT,90003,C,,,
4,20210611000090004,20190128000000226,20210611000081901,90004,PAYWISE,"80100,81900,81901,90004",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,PAYWISE,INT,90004,C,,,,20190128000000226,20210611000081901,90004,PAYWISE,"80100,81900,81901,90004",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,PAYWISE,INT,90004,C,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,20190128000000226,20211001000080160,60100,สำนักงานเขตพื้นที่ นครราชสีมา,"80100,80160,60100",AREA,ACTIVE,4,39999940000000102,2022-01-04 00:21:12,39999940000000049,2022-01-23 11:51:43,OCB,สำนักงานเขตพื้นที่ นครราชสีมา,INT,60100,,,,,20190128000000226,20211001000080160,60100,สำนักงานเขตพื้นที่ นครราชสีมา,"80100,80160,60100",AREA,ACTIVE,4,39999940000000102,2022-01-04 00:21:12,39999940000000049,2022-01-23 11:51:43,OCB,สำนักงานเขตพื้นที่ นครราชสีมา,INT,60100,,,,
219,20220104000001160,20190128000000226,20220103000001257,40101,สาขาอุทยานสวรรค์,"80100,80140,40100,40101",BR,ACTIVE,5,39999940000000102,2022-01-04 01:37:08,39999940000000049,2022-01-23 11:37:50,OCB,สาขาอุทยานสวรรค์,INT,40101,,,,,20190128000000226,20220103000001257,40101,สาขาอุทยานสวรรค์,"80100,80140,40100,40101",BR,ACTIVE,5,39999940000000102,2022-01-04 01:37:08,39999940000000049,2022-01-23 11:37:50,OCB,สาขาอุทยานสวรรค์,INT,40101,,,,
220,20210611000090006,20190128000000226,20210611000081901,90006,BCM,"80100,81900,81901,90006",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,BCM,INT,90006,C,,,,20190128000000226,20210611000081901,90006,BCM,"80100,81900,81901,90006",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,BCM,INT,90006,C,,,
221,20210611000090007,20190128000000226,20210611000081901,90007,ATM,"80100,81900,81901,90007",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,ATM,INT,90007,C,,,,20190128000000226,20210611000081901,90007,ATM,"80100,81900,81901,90007",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,ATM,INT,90007,C,,,
222,20220104000001161,20190128000000226,20211001000080100,81900,ONLINE CHANNEL,"80100,81900",VIRTUAL_ORG_UNIT,ACTIVE,3,39999940000000102,2022-01-04 19:06:30,39999940000000049,2022-01-21 22:05:57,OCB,ONLINE CHANNEL,INT,81900,C,,,,20190128000000226,20211001000080100,81900,ONLINE CHANNEL,"80100,81900",VIRTUAL_ORG_UNIT,ACTIVE,3,39999940000000102,2022-01-04 19:06:30,39999940000000049,2022-01-21 22:05:57,OCB,ONLINE CHANNEL,INT,81900,C,,,

In [28]:
df1

,id,organization_id,parent_id,code,name,structure,type_,status_code,depth,created_by,created_datetime,updated_by,updated_datetime,domain_id,description,filter_by,branch_code,conv_islamic_branch,islamic_bank_id,islamic_branch_id,organization_unit_category
0,20210611000081901,20190128000000226,20220104000001161,81901,VIRTUAL CHANNEL,"80100,81900,81901",VIRTUAL_ORG_UNIT,ACTIVE,4,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,VIRTUAL CHANNEL,INT,81901,C,,,
1,20210611000090001,20190128000000226,20210611000081901,90001,LINE,"80100,81900,81901,90001",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,LINE,INT,90001,C,,,
2,20210611000090002,20190128000000226,20210611000081901,90002,CONTACT CENTRE,"80100,81900,81901,90002",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,CONTACT CENTRE,INT,90002,C,,,
3,20210611000090003,20190128000000226,20210611000081901,90003,IONBOARD,"80100,81900,81901,90003",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,IONBOARD,INT,90003,C,,,
4,20210611000090004,20190128000000226,20210611000081901,90004,PAYWISE,"80100,81900,81901,90004",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2021-06-11 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,PAYWISE,INT,90004,C,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,20190128000000226,20211001000080160,60100,สำนักงานเขตพื้นที่ นครราชสีมา,"80100,80160,60100",AREA,ACTIVE,4,39999940000000102,2022-01-04 00:21:12,39999940000000049,2022-01-23 11:51:43,OCB,สำนักงานเขตพื้นที่ นครราชสีมา,INT,60100,,,,
219,20220104000001160,20190128000000226,20220103000001257,40101,สาขาอุทยานสวรรค์,"80100,80140,40100,40101",BR,ACTIVE,5,39999940000000102,2022-01-04 01:37:08,39999940000000049,2022-01-23 11:37:50,OCB,สาขาอุทยานสวรรค์,INT,40101,,,,
220,20210611000090006,20190128000000226,20210611000081901,90006,BCM,"80100,81900,81901,90006",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,BCM,INT,90006,C,,,
221,20210611000090007,20190128000000226,20210611000081901,90007,ATM,"80100,81900,81901,90007",VIRTUAL_ORG_UNIT,ACTIVE,5,1000,2022-01-04 00:00:00,39999940000000049,2022-01-21 22:05:57,OCB,ATM,INT,90007,C,,,
222,20220104000001161,20190128000000226,20211001000080100,81900,ONLINE CHANNEL,"80100,81900",VIRTUAL_ORG_UNIT,ACTIVE,3,39999940000000102,2022-01-04 19:06:30,39999940000000049,2022-01-21 22:05:57,OCB,ONLINE CHANNEL,INT,81900,C,,,

In [29]:
tmp = dfx.reindex(sorted(dfx.columns), axis=1)
tmp

,branch_code_x,branch_code_y,code_x,code_y,conv_islamic_branch_x,conv_islamic_branch_y,created_by_x,created_by_y,created_datetime_x,created_datetime_y,depth_x,depth_y,description_x,description_y,domain_id_x,domain_id_y,filter_by_x,filter_by_y,id,islamic_bank_id_x,islamic_bank_id_y,islamic_branch_id_x,islamic_branch_id_y,name_x,name_y,organization_id_x,organization_id_y,organization_unit_category_x,organization_unit_category_y,parent_id_x,parent_id_y,status_code_x,status_code_y,structure_x,structure_y,type__x,type__y,updated_by_x,updated_by_y,updated_datetime_x,updated_datetime_y
0,81901,81901,81901,81901,C,C,1000,1000,2021-06-11 00:00:00,2021-06-11 00:00:00,4,4,VIRTUAL CHANNEL,VIRTUAL CHANNEL,OCB,OCB,INT,INT,20210611000081901,,,,,VIRTUAL CHANNEL,VIRTUAL CHANNEL,20190128000000226,20190128000000226,,,20220104000001161,20220104000001161,ACTIVE,ACTIVE,"80100,81900,81901","80100,81900,81901",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
1,90001,90001,90001,90001,C,C,1000,1000,2021-06-11 00:00:00,2021-06-11 00:00:00,5,5,LINE,LINE,OCB,OCB,INT,INT,20210611000090001,,,,,LINE,LINE,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90001","80100,81900,81901,90001",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
2,90002,90002,90002,90002,C,C,1000,1000,2021-06-11 00:00:00,2021-06-11 00:00:00,5,5,CONTACT CENTRE,CONTACT CENTRE,OCB,OCB,INT,INT,20210611000090002,,,,,CONTACT CENTRE,CONTACT CENTRE,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90002","80100,81900,81901,90002",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
3,90003,90003,90003,90003,C,C,1000,1000,2021-06-11 00:00:00,2021-06-11 00:00:00,5,5,IONBOARD,IONBOARD,OCB,OCB,INT,INT,20210611000090003,,,,,IONBOARD,IONBOARD,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90003","80100,81900,81901,90003",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
4,90004,90004,90004,90004,C,C,1000,1000,2021-06-11 00:00:00,2021-06-11 00:00:00,5,5,PAYWISE,PAYWISE,OCB,OCB,INT,INT,20210611000090004,,,,,PAYWISE,PAYWISE,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90004","80100,81900,81901,90004",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,60100,60100,60100,60100,,,39999940000000102,39999940000000102,2022-01-04 00:21:12,2022-01-04 00:21:12,4,4,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,OCB,OCB,INT,INT,20220104000001159,,,,,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,20190128000000226,20190128000000226,,,20211001000080160,20211001000080160,ACTIVE,ACTIVE,"80100,80160,60100","80100,80160,60100",AREA,AREA,39999940000000049,39999940000000049,2022-01-23 11:51:43,2022-01-23 11:51:43
219,40101,40101,40101,40101,,,39999940000000102,39999940000000102,2022-01-04 01:37:08,2022-01-04 01:37:08,5,5,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,OCB,OCB,INT,INT,20220104000001160,,,,,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,20190128000000226,20190128000000226,,,20220103000001257,20220103000001257,ACTIVE,ACTIVE,"80100,80140,40100,40101","80100,80140,40100,40101",BR,BR,39999940000000049,39999940000000049,2022-01-23 11:37:50,2022-01-23 11:37:50
220,90006,90006,90006,90006,C,C,1000,1000,2022-01-04 00:00:00,2022-01-04 00:00:00,5,5,BCM,BCM,OCB,OCB,INT,INT,20210611000090006,,,,,BCM,BCM,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90006","80100,81900,81901,90006",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
221,90007,90007,90007,90007,C,C,1000,1000,2022-01-04 00:00:00,2022-01-04 00:00:00,5,5,ATM,ATM,OCB,OCB,INT,INT,20210611000090007,,,,,ATM,ATM,20190128000000226,20190128000000226,,,20210611000081901,20210611000081901,ACTIVE,ACTIVE,"80100,81900,81901,90007","80100,81900,81901,90007",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57
222,81900,81900,81900,81900,C,C,39999940000000102,39999940000000102,2022-01-04 19:06:30,2022-01-04 19:06:30,3,3,ONLINE CHANNEL,ONLINE CHANNEL,OCB,OCB,INT,INT,20220104000001161,,,,,ONLINE CHANNEL,ONLINE CHANNEL,20190128000000226,20190128000000226,,,20211001000080100,20211001000080100,ACTIVE,ACTIVE,"80100,81900","80100,81900",VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,39999940000000049,39999940000000049,2022-01-21 22:05:57,2022-01-21 22:05:57

In [30]:
colnum = df1.shape[1]

def compare(merged_table):
    
    df1 = merged_table.drop('id', axis = 1)
    result = merged_table[['id']]
    col = 2 #start from third col
#     n = 1
    for i in range(0,colnum-1):
        com_col = df1.iloc[:,col-2:col] #creating a comparison df with 2 cols 
        com_col['COM_' + com_col.columns[0][:-2]] = com_col.iloc[:,0] == com_col.iloc[:,1] #
        col += 2
        result = pd.concat([result, com_col], axis = 1)
#         n+=3
                   
    return result

In [31]:
# colnum = df.shape[1]

# def compare(merged_table):
    
# #     df = data.drop('id', axis = 1)
#     result = merged_table[['id']]
#     col = 2
#     n = 1
#     for i in range(0,colnum-1):
#         com_col = df.iloc[:,col-2:col]
#         com_col[com_col.columns[0][:-2] + '_comparison'] = com_col.iloc[:,0] == com_col.iloc[:,1]
#         col += 2
#         result = pd.concat([result, com_col], axis = 1)
#         n+=3
                   
#     return result

In [32]:
x = compare(tmp)
x

C:\Users\THEERA~1.LEE\AppData\Local\Temp/ipykernel_11856/3347691527.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_col['COM_' + com_col.columns[0][:-2]] = com_col.iloc[:,0] == com_col.iloc[:,1] #

,id,branch_code_x,branch_code_y,COM_branch_code,code_x,code_y,COM_code,conv_islamic_branch_x,conv_islamic_branch_y,COM_conv_islamic_branch,created_by_x,created_by_y,COM_created_by,created_datetime_x,created_datetime_y,COM_created_datetime,depth_x,depth_y,COM_depth,description_x,description_y,COM_description,domain_id_x,domain_id_y,COM_domain_id,filter_by_x,filter_by_y,COM_filter_by,islamic_bank_id_x,islamic_bank_id_y,COM_islamic_bank_id,islamic_branch_id_x,islamic_branch_id_y,COM_islamic_branch_id,name_x,name_y,COM_name,organization_id_x,organization_id_y,COM_organization_id,organization_unit_category_x,organization_unit_category_y,COM_organization_unit_category,parent_id_x,parent_id_y,COM_parent_id,status_code_x,status_code_y,COM_status_code,structure_x,structure_y,COM_structure,type__x,type__y,COM_type_,updated_by_x,updated_by_y,COM_updated_by,updated_datetime_x,updated_datetime_y,COM_updated_datetime
0,20210611000081901,81901,81901,True,81901,81901,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,4,4,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20220104000001161,20220104000001161,True,ACTIVE,ACTIVE,True,"80100,81900,81901","80100,81900,81901",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
1,20210611000090001,90001,90001,True,90001,90001,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,LINE,LINE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,LINE,LINE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90001","80100,81900,81901,90001",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
2,20210611000090002,90002,90002,True,90002,90002,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,CONTACT CENTRE,CONTACT CENTRE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,CONTACT CENTRE,CONTACT CENTRE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90002","80100,81900,81901,90002",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
3,20210611000090003,90003,90003,True,90003,90003,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,IONBOARD,IONBOARD,True,OCB,OCB,True,INT,INT,True,,,True,,,True,IONBOARD,IONBOARD,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90003","80100,81900,81901,90003",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
4,20210611000090004,90004,90004,True,90004,90004,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,PAYWISE,PAYWISE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,PAYWISE,PAYWISE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90004","80100,81900,81901,90004",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,60100,60100,True,60100,60100,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 00:21:12,2022-01-04 00:21:12,True,4,4,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,20190128000000226,20190128000000226,True,,,True,20211001000080160,20211001000080160,True,ACTIVE,ACTIVE,True,"80100,80160,60100","80100,80160,60100",True,AREA,AREA,True,39999940000000049,39999940000000049,True,2022-01-23 11:51:43,2022-01-23 11:51:43,True
219,20220104000001160,40101,40101,True,40101,40101,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 01:37:08,2022-01-04 01:37:08,True,5,5,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,20190128000000226,20190128000000226,True,,,True,20220103000001257,20220103000001257,True,ACTIVE,ACTIVE,True,"80100,80140,40100,40101","80100,80140,40100,40101",True,BR,BR,True,39999940000000049,39999940000000049,True,2022-01-23 11:37:50,2022-01-23 11:37:50,True
220,20210611000090006,90006,90006,True,90006,90006,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,BCM,BCM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,BCM,BCM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90006","80100,81900,81901,90006",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
221,20210611000090007,90007,90007,True,90007,90007,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,ATM,ATM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ATM,ATM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90007","80100,81900,81901,90007",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
222,20220104000001161,81900,81900,True,81900,81900,True,C,C,True,39999940000000102,39999940000000102,True,2022-01-04 19:06:30,2022-01-04 19:06:30,True,3,3,True,ONLINE CHANNEL,ONLINE CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ONLINE CHANNEL,ONLINE CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20211001000080100,20211001000080100,True,ACTIVE,ACTIVE,True,"80100,81900","80100,81900",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True

In [33]:
y = x
y.insert(1,'is in '+ env2, y.id.isin(df1.id))
y.insert(1,'is in '+ env1, y.id.isin(df2.id))

y
# y['is in GPE'] = y.id.isin(df.id)
# y['is in PS2'] = y.id.isin(df1.id)

,id,is in PS2,is in UAT,branch_code_x,branch_code_y,COM_branch_code,code_x,code_y,COM_code,conv_islamic_branch_x,conv_islamic_branch_y,COM_conv_islamic_branch,created_by_x,created_by_y,COM_created_by,created_datetime_x,created_datetime_y,COM_created_datetime,depth_x,depth_y,COM_depth,description_x,description_y,COM_description,domain_id_x,domain_id_y,COM_domain_id,filter_by_x,filter_by_y,COM_filter_by,islamic_bank_id_x,islamic_bank_id_y,COM_islamic_bank_id,islamic_branch_id_x,islamic_branch_id_y,COM_islamic_branch_id,name_x,name_y,COM_name,organization_id_x,organization_id_y,COM_organization_id,organization_unit_category_x,organization_unit_category_y,COM_organization_unit_category,parent_id_x,parent_id_y,COM_parent_id,status_code_x,status_code_y,COM_status_code,structure_x,structure_y,COM_structure,type__x,type__y,COM_type_,updated_by_x,updated_by_y,COM_updated_by,updated_datetime_x,updated_datetime_y,COM_updated_datetime
0,20210611000081901,True,True,81901,81901,True,81901,81901,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,4,4,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20220104000001161,20220104000001161,True,ACTIVE,ACTIVE,True,"80100,81900,81901","80100,81900,81901",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
1,20210611000090001,True,True,90001,90001,True,90001,90001,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,LINE,LINE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,LINE,LINE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90001","80100,81900,81901,90001",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
2,20210611000090002,True,True,90002,90002,True,90002,90002,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,CONTACT CENTRE,CONTACT CENTRE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,CONTACT CENTRE,CONTACT CENTRE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90002","80100,81900,81901,90002",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
3,20210611000090003,True,True,90003,90003,True,90003,90003,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,IONBOARD,IONBOARD,True,OCB,OCB,True,INT,INT,True,,,True,,,True,IONBOARD,IONBOARD,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90003","80100,81900,81901,90003",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
4,20210611000090004,True,True,90004,90004,True,90004,90004,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,PAYWISE,PAYWISE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,PAYWISE,PAYWISE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90004","80100,81900,81901,90004",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,True,True,60100,60100,True,60100,60100,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 00:21:12,2022-01-04 00:21:12,True,4,4,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,20190128000000226,20190128000000226,True,,,True,20211001000080160,20211001000080160,True,ACTIVE,ACTIVE,True,"80100,80160,60100","80100,80160,60100",True,AREA,AREA,True,39999940000000049,39999940000000049,True,2022-01-23 11:51:43,2022-01-23 11:51:43,True
219,20220104000001160,True,True,40101,40101,True,40101,40101,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 01:37:08,2022-01-04 01:37:08,True,5,5,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,20190128000000226,20190128000000226,True,,,True,20220103000001257,20220103000001257,True,ACTIVE,ACTIVE,True,"80100,80140,40100,40101","80100,80140,40100,40101",True,BR,BR,True,39999940000000049,39999940000000049,True,2022-01-23 11:37:50,2022-01-23 11:37:50,True
220,20210611000090006,True,True,90006,90006,True,90006,90006,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,BCM,BCM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,BCM,BCM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90006","80100,81900,81901,90006",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
221,20210611000090007,True,True,90007,90007,True,90007,90007,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,ATM,ATM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ATM,ATM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90007","80100,81900,81901,90007",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
222,20220104000001161,True,True,81900,81900,True,81900,81900,True,C,C,True,39999940000000102,39999940000000102,True,2022-01-04 19:06:30,2022-01-04 19:06:30,True,3,3,True,ONLINE CHANNEL,ONLINE CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ONLINE CHANNEL,ONLINE CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20211001000080100,20211001000080100,True,ACTIVE,ACTIVE,True,"80100,81900","80100,81900",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True

In [34]:
def prefix(tbl):
    result = tbl
    for col in result.columns:
        new_col = ''
        if '_x' in col:
            new_col = env1 + '_' + col.removesuffix('_x')
        elif '_y' in col:
            new_col = env2 + '_' + col.removesuffix('_y')
        else:
            new_col = col
#         print(new_col)
        result = result.rename(columns = {col:new_col})
                   
    return result

In [35]:
done = prefix(y)
done

,id,is in PS2,is in UAT,PS2_branch_code,UAT_branch_code,COM_branch_code,PS2_code,UAT_code,COM_code,PS2_conv_islamic_branch,UAT_conv_islamic_branch,COM_conv_islamic_branch,PS2_created_by,UAT_created_by,COM_created_by,PS2_created_datetime,UAT_created_datetime,COM_created_datetime,PS2_depth,UAT_depth,COM_depth,PS2_description,UAT_description,COM_description,PS2_domain_id,UAT_domain_id,COM_domain_id,PS2_filter_by,UAT_filter_by,COM_filter_by,PS2_islamic_bank_id,UAT_islamic_bank_id,COM_islamic_bank_id,PS2_islamic_branch_id,UAT_islamic_branch_id,COM_islamic_branch_id,PS2_name,UAT_name,COM_name,PS2_organization_id,UAT_organization_id,COM_organization_id,PS2_organization_unit_category,UAT_organization_unit_category,COM_organization_unit_category,PS2_parent_id,UAT_parent_id,COM_parent_id,PS2_status_code,UAT_status_code,COM_status_code,PS2_structure,UAT_structure,COM_structure,PS2_type_,UAT_type_,COM_type_,PS2_updated_by,UAT_updated_by,COM_updated_by,PS2_updated_datetime,UAT_updated_datetime,COM_updated_datetime
0,20210611000081901,True,True,81901,81901,True,81901,81901,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,4,4,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,VIRTUAL CHANNEL,VIRTUAL CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20220104000001161,20220104000001161,True,ACTIVE,ACTIVE,True,"80100,81900,81901","80100,81900,81901",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
1,20210611000090001,True,True,90001,90001,True,90001,90001,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,LINE,LINE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,LINE,LINE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90001","80100,81900,81901,90001",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
2,20210611000090002,True,True,90002,90002,True,90002,90002,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,CONTACT CENTRE,CONTACT CENTRE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,CONTACT CENTRE,CONTACT CENTRE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90002","80100,81900,81901,90002",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
3,20210611000090003,True,True,90003,90003,True,90003,90003,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,IONBOARD,IONBOARD,True,OCB,OCB,True,INT,INT,True,,,True,,,True,IONBOARD,IONBOARD,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90003","80100,81900,81901,90003",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
4,20210611000090004,True,True,90004,90004,True,90004,90004,True,C,C,True,1000,1000,True,2021-06-11 00:00:00,2021-06-11 00:00:00,True,5,5,True,PAYWISE,PAYWISE,True,OCB,OCB,True,INT,INT,True,,,True,,,True,PAYWISE,PAYWISE,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90004","80100,81900,81901,90004",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,20220104000001159,True,True,60100,60100,True,60100,60100,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 00:21:12,2022-01-04 00:21:12,True,4,4,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สำนักงานเขตพื้นที่ นครราชสีมา,สำนักงานเขตพื้นที่ นครราชสีมา,True,20190128000000226,20190128000000226,True,,,True,20211001000080160,20211001000080160,True,ACTIVE,ACTIVE,True,"80100,80160,60100","80100,80160,60100",True,AREA,AREA,True,39999940000000049,39999940000000049,True,2022-01-23 11:51:43,2022-01-23 11:51:43,True
219,20220104000001160,True,True,40101,40101,True,40101,40101,True,,,True,39999940000000102,39999940000000102,True,2022-01-04 01:37:08,2022-01-04 01:37:08,True,5,5,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,OCB,OCB,True,INT,INT,True,,,True,,,True,สาขาอุทยานสวรรค์,สาขาอุทยานสวรรค์,True,20190128000000226,20190128000000226,True,,,True,20220103000001257,20220103000001257,True,ACTIVE,ACTIVE,True,"80100,80140,40100,40101","80100,80140,40100,40101",True,BR,BR,True,39999940000000049,39999940000000049,True,2022-01-23 11:37:50,2022-01-23 11:37:50,True
220,20210611000090006,True,True,90006,90006,True,90006,90006,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,BCM,BCM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,BCM,BCM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90006","80100,81900,81901,90006",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
221,20210611000090007,True,True,90007,90007,True,90007,90007,True,C,C,True,1000,1000,True,2022-01-04 00:00:00,2022-01-04 00:00:00,True,5,5,True,ATM,ATM,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ATM,ATM,True,20190128000000226,20190128000000226,True,,,True,20210611000081901,20210611000081901,True,ACTIVE,ACTIVE,True,"80100,81900,81901,90007","80100,81900,81901,90007",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True
222,20220104000001161,True,True,81900,81900,True,81900,81900,True,C,C,True,39999940000000102,39999940000000102,True,2022-01-04 19:06:30,2022-01-04 19:06:30,True,3,3,True,ONLINE CHANNEL,ONLINE CHANNEL,True,OCB,OCB,True,INT,INT,True,,,True,,,True,ONLINE CHANNEL,ONLINE CHANNEL,True,20190128000000226,20190128000000226,True,,,True,20211001000080100,20211001000080100,True,ACTIVE,ACTIVE,True,"80100,81900","80100,81900",True,VIRTUAL_ORG_UNIT,VIRTUAL_ORG_UNIT,True,39999940000000049,39999940000000049,True,2022-01-21 22:05:57,2022-01-21 22:05:57,True

In [37]:
# writer = pd.ExcelWriter(env1 + '_' + env2 + '_' + table + '.xlsx', engine='xlsxwriter')

# df1.to_excel(writer, sheet_name= env1)
# df2.to_excel(writer, sheet_name= env2)
# done.to_excel(writer, sheet_name= 'Comparison')
with pd.ExcelWriter(env1 + '_' + env2 + '_' + table + '.xlsx') as writer:
    df1.to_excel(writer, sheet_name=env1, index=False)
    df2.to_excel(writer, sheet_name=env2, index=False)
    done.to_excel(writer, sheet_name='COM', index=False)

# df1.to_excel(env1 + '_' + env2 + '_' + table + '.xlsx', sheet_name = env1, index = False, encoding = 'utf-8')
# df2.to_excel(env1 + '_' + env2 + '_' + table + '.xlsx', sheet_name = env2, index = False, encoding = 'utf-8')
# done.to_excel(env1 + '_' + env2 + '_' + table + '.xlsx', sheet_name = 'Comparison', index = False, encoding = 'utf-8')